<div class="services-list">
    <a href="{{ path('app_nos_services_detail', {slug: 'impression-numerique'}) }}">
        <i class="bi bi-arrow-right-circle"></i><span>Impression numérique</span>
    </a>
    <a class="active" href="{{ path('app_nos_services_detail', {slug: 'affiches'}) }}">
        <i class="bi bi-arrow-right-circle"></i><span>Affiches</span>
    </a>
    <a href="{{ path('app_nos_services_detail', {slug: 'brochures'}) }}">
        <i class="bi bi-arrow-right-circle"></i><span>Brochures</span>
    </a>
    <a href="{{ path('app_nos_services_detail', {slug: 'cartes-de-visite'}) }}">
        <i class="bi bi-arrow-right-circle"></i><span>Cartes de visite</span>
    </a>
    <a href="{{ path('app_nos_services_detail', {slug: 'depliants'}) }}">
        <i class="bi bi-arrow-right-circle"></i><span>Dépliants</span>
    </a>
    <a href="{{ path('app_nos_services_detail', {slug: 'stickers'}) }}">
        <i class="bi bi-arrow-right-circle"></i><span>Stickers</span>
    </a>
    <a href="{{ path('app_nos_services_detail', {slug: 'personnalisation-gadgets-objets-publicitaires'}) }}">
        <i class="bi bi-arrow-right-circle"></i><span>Personnalisation de gadgets et objets publicitaires</span>
    </a>
    <a href="{{ path('app_nos_services_detail', {slug: 'broderie-industrielle-textile'}) }}">
        <i class="bi bi-arrow-right-circle"></i><span>Broderie industrielle sur textile (polos, uniformes, casquettes)</span>
    </a>
</div>
