{% extends 'base.html.twig' %}

{% block header %}

    {% include 'navigation/header-on-page.html.twig' %}
{% endblock %}

{% block main %}

  <main class="main">

    <!-- Page Title -->
    <div class="page-title dark-background">
        <div class="container position-relative">
            <h1>Détail de la Réalisation</h1>
            <p>
                Plongez au cœur de l’un de nos projets phares. Retrouvez ici toutes les informations, visuels et spécificités techniques.
            </p>
            <nav class="breadcrumbs">
                <ol>
                    <li><a href="{{ path('app_home') }}">Accueil</a></li>
                    <li><a href="{{ path('app_nos_realisations') }}">Réalisations</a></li>
                    <li class="current">Détail</li>
                </ol>
            </nav>
        </div>

    </div><!-- End Page Title -->

    <!-- Portfolio Details Section -->
    <section id="portfolio-details" class="portfolio-details section">

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row gy-4">

          <div class="col-lg-6">
            <div class="portfolio-details-slider swiper init-swiper">

              <script type="application/json" class="swiper-config">
                {
                  "loop": true,
                  "speed": 600,
                  "autoplay": {
                    "delay": 5000
                  },
                  "slidesPerView": "auto",
                  "pagination": {
                    "el": ".swiper-pagination",
                    "type": "bullets",
                    "clickable": true
                  }
                }
              </script>

              <div class="swiper-wrapper align-items-center">

                <div class="swiper-slide">
                  <img src="{{ asset('upload/images/realisation/' ~ realisation.realisationImages[0].url)
                  | imagine_filter('thumbnail_realisation') }}"
                       class="img-fluid"
                       alt="{{ realisation.title }}">
                </div>

              </div>
              <div class="swiper-pagination"></div>
            </div>
          </div>

          <div class="col-lg-6">
            <div class="portfolio-info" data-aos="fade-up" data-aos-delay="200">
              <h3>Informations du projet</h3>
              <ul>
                <li><strong>Catégorie</strong>: {{ realisation.category }}</li>
                <li><strong>Client</strong>: {{ realisation.client }}</li>
                <li><strong>Date de la livraison du projet </strong>: {{ realisation.projetAt | date('d-m-y') }}</li>
                <li><strong>Project URL</strong>: <a href="#">www.example.com</a></li>
              </ul>
            </div>
            <div class="portfolio-description" data-aos="fade-up" data-aos-delay="300">
              <h2>{{ realisation.title }}</h2>
              <p>
                  {{ realisation.description | raw }}
              </p>
            </div>
          </div>

            <section id="portfolio" class="portfolio section pb-1">

                <!-- Section Title -->
                <div class="container section-title" data-aos="fade-up">
                    <h2>Galerie du projet</h2>
                </div><!-- End Section Title -->

                <div class="container">

                    <div class="isotope-layout" data-default-filter="*" data-layout="masonry" data-sort="original-order">

                        <div class="row gy-4 isotope-container" data-aos="fade-up" data-aos-delay="200">

                            {% for image in realisation.realisationImages %}

                                <div class="col-lg-4 col-md-6 portfolio-item isotope-item {{ realisation.category }}">
                                    <div class="portfolio-content h-100">
                                        <img
                                            src="{{ asset('upload/images/realisation/' ~ image.url)
                                            | imagine_filter('thumbnail_realisation') }}"
                                            class="img-fluid"
                                            alt="{{ realisation.title }}"
                                        >
                                    </div>
                                </div>
                            {% endfor %}

                        </div>


                    </div>

                </div>

            </section>


        </div>

      </div>

    </section>

  </main>

{% endblock %}
