{% extends 'base.html.twig' %}

{% block header %}

    {% include 'navigation/header-on-page.html.twig' %}
{% endblock %}

{% block main %}

  <main class="main">

    <!-- Page Title -->
      <div class="page-title dark-background">
          <div class="container position-relative">
              <h1>Actualité</h1>
              <p>Découvrez toutes les informations, images et mises à jour associées.</p>
          </div>
      </div>

      <!-- End Page Title -->

    <div class="container">
            <!-- Blog Details Section -->
          <section id="blog-details" class="blog-details section">

              <article class="article">
                  <div class="container row">
                    <div class="col-md-6">
                        <div class="">
                            <img src="{{ asset('upload/images/event/' ~ evenement.image) | imagine_filter('thumbnail_actuality') }}" alt="" class="img-fluid">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <h2>{{ evenement.title }}</h2>

                        <div class="meta-top">
                            <ul>
                                <li class="d-flex align-items-center"><i class="bi bi-person"></i> <a href="">{{ evenement.theme }}</a></li>
                                <li class="d-flex align-items-center"><i class="bi bi-clock"></i> <a href=""><time datetime="">{{ evenement.evenementAt | date('d-m-y') }}</time></a></li>
                            </ul>
                        </div><!-- End meta top -->

                        <div class="content">
                            {{ evenement.description | raw }}

                        </div><!-- End post content -->

                    </div>
                  </div>

              </article>

          </section><!-- /Blog Details Section -->
        <section id="portfolio" class="portfolio section">

            <div class="container">

                <div class="isotope-layout" data-default-filter="*" data-layout="masonry" data-sort="original-order">

                    <div class="container section-title" data-aos="fade-up">
                        <h2>Quelques images</h2>
                    </div><!-- End Section Title -->

                    <div class="row gy-4 isotope-container" data-aos="fade-up" data-aos-delay="200">
                        {% for image in evenement.evenementImages %}
                            <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-app">
                                <div class="portfolio-content h-100">
                                    <img src="{{ asset('upload/images/event/' ~ image.name) | imagine_filter('thumbnail_actuality') }}" class="img-fluid" alt="{{ evenement.title }}">
                                </div>
                            </div>

                        {% endfor %}



                    </div>

                </div>

            </div>

        </section>
    </div>

  </main>

{% endblock %}
