<div class="services-list">
    <a href="{{ path('app_nos_services_detail', {slug: 'formation'}) }}">
        <i class="bi bi-arrow-right-circle"></i><span>Formation</span>
    </a>
    <a href="{{ path('app_nos_services_detail', {slug: 'reprographie'}) }}">
        <i class="bi bi-arrow-right-circle"></i><span>Reprographie</span>
    </a>
    <a href="{{ path('app_nos_services_detail', {slug: 'creation-logos-chartes-graphiques'}) }}">
        <i class="bi bi-arrow-right-circle"></i><span>Création de logos et chartes graphiques</span>
    </a>
    <a href="{{ path('app_nos_services_detail', {slug: 'design-documents-administratifs-scolaires'}) }}">
        <i class="bi bi-arrow-right-circle"></i><span>Design de documents administratifs scolaires</span>
    </a>
    <a href="{{ path('app_nos_services_detail', {slug: 'confection-uniformes-sur-mesure'}) }}">
        <i class="bi bi-arrow-right-circle"></i><span>Confection d’uniformes sur mesure</span>
    </a>
    <a class="active" href="{{ path('app_nos_services_detail', {slug: 'broderie-professionnelle-sur-tissus'}) }}">
        <i class="bi bi-arrow-right-circle"></i><span>Broderie professionnelle sur tissus</span>
    </a>
</div>
