<header id="header" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid container-xl position-relative d-flex align-items-center justify-content-between">

        <a href="{{ path('app_home') }}" class="logo d-flex align-items-center">
            <h1 class="sitename">BeforYou</h1>
        </a>
        <nav id="navmenu" class="navmenu">
            <ul>

                <li><a href="{{ path('app_about') }}">À propos</a></li>
                <li><a href="{{ path('app_nos_filiales') }}">Nos filiales</a></li>
                <li><a href="{{ path('app_nos_services') }}">Nos services</a></li>
                <li><a href="{{ path('app_nos_realisations') }}">Nos réalisations</a></li>
                <li><a href="{{ path('app_notre_equipe') }}">Notre équipe</a></li>
                <li><a href="{{ path('app_notre_actualites') }}">Actualités</a></li>
                <li><a href="{{ path('app_notre_contact') }}">Contact</a></li>
            </ul>

            <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
        </nav>

    </div>
</header>
