<section id="partenaire" class="clients section py-5 bg-light">
    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
        <h2>Nos partenaires</h2>
        <p>
            Nous avons eu le privilège de collaborer avec plusieurs entreprises de premier plan.
        </p>
    </div><!-- End Section Title -->

    <div class="container">
        <div class="row justify-content-center align-items-stretch g-4">

            <div class="col-6 col-sm-4 col-md-3 col-lg-2">
                <div class="card client-card h-100">
                    <img src="{{ asset('assets/img/brand/airtel.png') }}" class="client-logo" alt="Client 1">
                </div>
            </div>

            <div class="col-6 col-sm-4 col-md-3 col-lg-2">
                <div class="card client-card h-100">
                    <img src="{{ asset('assets/img/brand/akewa.png') }}" class="client-logo" alt="Client 2">
                </div>
            </div>

            <div class="col-6 col-sm-4 col-md-3 col-lg-2">
                <div class="card client-card h-100">
                    <img src="{{ asset('assets/img/brand/canal.png') }}" class="client-logo" alt="Client 3">
                </div>
            </div>

            <div class="col-6 col-sm-4 col-md-3 col-lg-2">
                <div class="card client-card h-100">
                    <img src="{{ asset('assets/img/brand/colas.png') }}" class="client-logo" alt="Client 4">
                </div>
            </div>

            <div class="col-6 col-sm-4 col-md-3 col-lg-2">
                <div class="card client-card h-100">
                    <img src="{{ asset('assets/img/brand/dgcc.png') }}" class="client-logo" alt="Client 5">
                </div>
            </div>

            <div class="col-6 col-sm-4 col-md-3 col-lg-2">
                <div class="card client-card h-100">
                    <img src="{{ asset('assets/img/brand/eau_foret.png') }}" class="client-logo" alt="Client 6">
                </div>
            </div>

            <div class="col-6 col-sm-4 col-md-3 col-lg-2">
                <div class="card client-card h-100">
                    <img src="{{ asset('assets/img/brand/erlab.png') }}" class="client-logo" alt="Client 7">
                </div>
            </div>

            <div class="col-6 col-sm-4 col-md-3 col-lg-2">
                <div class="card client-card h-100">
                    <img src="{{ asset('assets/img/brand/gaps.png') }}" class="client-logo" alt="Client 8">
                </div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-lg-2">
                <div class="card client-card h-100">
                    <img src="{{ asset('assets/img/brand/gr.png') }}" class="client-logo" alt="Client 8">
                </div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-lg-2">
                <div class="card client-card h-100">
                    <img src="{{ asset('assets/img/brand/insg.png') }}" class="client-logo" alt="Client 8">
                </div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-lg-2">
                <div class="card client-card h-100">
                    <img src="{{ asset('assets/img/brand/ito.png') }}" class="client-logo" alt="Client 8">
                </div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-lg-2">
                <div class="card client-card h-100">
                    <img src="{{ asset('assets/img/brand/ito.png') }}" class="client-logo" alt="Client 8">
                </div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-lg-2">
                <div class="card client-card h-100">
                    <img src="{{ asset('assets/img/brand/lycee.png') }}" class="client-logo" alt="Client 8">
                </div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-lg-2">
                <div class="card client-card h-100">
                    <img src="{{ asset('assets/img/brand/ministere_enseignement.png') }}" class="client-logo" alt="Client 8">
                </div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-lg-2">
                <div class="card client-card h-100">
                    <img src="{{ asset('assets/img/brand/netis.png') }}" class="client-logo" alt="Client 8">
                </div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-lg-2">
                <div class="card client-card h-100">
                    <img src="{{ asset('assets/img/brand/omp.png') }}" class="client-logo" alt="Client 8">
                </div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-lg-2">
                <div class="card client-card h-100">
                    <img src="{{ asset('assets/img/brand/psg.png') }}" class="client-logo" alt="Client 8">
                </div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-lg-2">
                <div class="card client-card h-100">
                    <img src="{{ asset('assets/img/brand/sobraga.png') }}" class="client-logo" alt="Client 8">
                </div>
            </div>

        </div>
    </div>
</section>
