<div class="services-list">
    <a href="{{ path('app_nos_services_detail', {slug:'gestion-reseaux-sociaux'}) }}"><i class="bi bi-arrow-right-circle"></i><span>Gestion de réseaux sociaux</span></a>
    <a href="{{ path('app_nos_services_detail',{slug: 'creation-communication'}) }}"><i class="bi bi-arrow-right-circle"></i><span>Création de la communication (vidéos, visuels, rédaction)</span></a>
    <a href="{{ path('app_nos_services_detail', {slug : 'branding-identite-visuelledes-Institutions'}) }}"><i class="bi bi-arrow-right-circle"></i><span>Branding, identité visuelle des PME & Institutions</span></a>
    <a class="active" href="{{ path('app_nos_services_detail', {slug : 'conseils-strategiques-communication-marketing'}) }}"><i class="bi bi-arrow-right-circle"></i><span>Conseils stratégiques en communication et marketing</span></a>
    <a href="{{ path('app_nos_services_detail', {slug : 'creation-sites-web-applications'}) }}"><i class="bi bi-arrow-right-circle"></i><span>création de sites web et applications</span></a>
    <a href="{{ path('app_nos_services_detail', {slug: 'evenementiel'}) }}"><i class="bi bi-arrow-right-circle"></i><span>Evenementiel</span></a>
</div>
