{% extends 'base.html.twig' %}

{% block header %}

{% include 'navigation/header-on-page.html.twig' %}
{% endblock %}

{% block main %}

  <main class="main">

      <!-- Page Title -->
    <div class="page-title dark-background">
      <div class="container position-relative">
          <h2>Notre équipe dirigeante</h2>
          <p>Découvrez les femmes et les hommes qui pilotent Beforyou avec passion, expertise et engagement pour garantir la réussite de chaque projet.</p>

          <nav class="breadcrumbs">
          <ol>
            <li><a href="{{ path('app_home') }}">Accueil</a></li>
            <li class="current">Equipe dirigeante</li>
          </ol>
        </nav>
      </div>
    </div><!-- End Page Title -->

    <!-- Team Section -->
    <section id="team" class="team section">

      <div class="container">

        <div class="row gy-5">
            {% for team in teams %}
                <div class="col-lg-4 col-md-6 member" data-aos="fade-up" data-aos-delay="100">
                    <div class="member-img">
                        <img src="{{ asset('upload/images/team/' ~ team.photo) | imagine_filter('thumbnail_team') }}" class="img-fluid" alt="Photo de {{ team.fullname }}">

                        <div class="social">
                            {% if team.twitter %}
                                <a href="{{ team.twitter }}" target="_blank"><i class="bi bi-twitter-x"></i></a>
                            {% endif %}
                            {% if team.facebook %}
                                <a href="{{ team.facebook }}" target="_blank"><i class="bi bi-facebook"></i></a>
                            {% endif %}
                            {% if team.linkedin %}
                                <a href="{{ team.linkedin }}" target="_blank"><i class="bi bi-linkedin"></i></a>
                            {% endif %}
                        </div>
                    </div>
                    <div class= "member-info text-center">
                        <h4>{{ team.fullname }}</h4>
                        <span>{{ team.titre }}</span>
                        <p>{{ team.description | raw }}</p>
                    </div>

                </div><!-- End Team Member -->

            {% endfor %}
        </div>

      </div>

    </section><!-- /Team Section -->

  </main>
{% endblock %}



